html,body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: #f7f4f1;
}

ul.navbar-nav > li > a {
  font-size: 36px;
  color: #9f978d;
}

.navbar-nav > .active > a {
  color: #fab970 !important;
}

/*
INDEX PAGE STYLES
*/

body.index {
  background-image: url('../images/tinified/homepage_negramaro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-index-page {
  height: 60px;
}

.index-logo {
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

footer.index-page {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

footer.index-page .social-media li a{
  color: red;
}
.social-media{
  list-style: none;
}
.socialmedia li {
  display: inline;
}


/*
ABOUT PAGE STYLES
*/

.navbar-nav > .active > a {
  color: #fab970 !important;
}

.logo-top-left{
position: absolute;
left: 0;
bottom: 0;
right: 0;
width: 150px;
top: 0;
margin: 0px;
}

.small-logo-navbar{
position: relative;
margin-top: 5%;
}

.band-image {
  display: inline-block;
  padding: 5px;
  padding-top: 15px;
}

.band-member {
  display: inline-block;
  width: 200px;
  height: 200px;

}

.history-image {
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}


.content {
  margin-top: 5%;
}

/*
DISCOGRAPHY PAGE STYLES
*/

ul.navbar-nav > li > a {
  font-size: 36px;
  color: #9f978d;
}

.navbar-nav > .active > a {
  color: #fab970 !important;
}


table#t01 th,td {
    background-color: solid black;
    color: black;
    width:100%;
    border: black;
    text-align: center;
      padding: 20px;
}



/*
MEDIA PAGE STYLES
*/



ul.navbar-nav > li > a {
  font-size: 36px;
  color: #9f978d;
}

.navbar-nav > .active > a {
  color: #fab970 !important;
}


.lightbox-image{
  margin:10px auto 25px;
  box-shadow: 0 35px 90px rgba(0,0,0, 0.4);
  border-radius: 10px;
  transition:  box-shadow .5s ease-in-out;
  position: relative;
  z-index: 1;
  width: 350px;
}

.lightbox-image:hover {
  box-shadow: 0 45px 100px rgba (0,0,0, 0.5);
  z-index:10;
  width: 350px;
}


.button {
    background-color: red;
    border: none;
    color: white;
    padding: 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    top: 40px;
    border-radius: 15px;
}

.media-buttons{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*
MERCH PAGE STYLES
*/


ul.navbar-nav > li > a {
  font-size: 36px;
  color: #9f978d;
}

.navbar-nav > .active > a {
  color: #fab970 !important;
}


.merch-button {
    background-color: red;
    border: none;
    color: white;
    padding: 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    top: 40pix;
}

/*
TOURDATES PAGE STYLES
*/


ul.navbar-nav > li > a {
  font-size: 36px;
  color: #9f978d;
}

.navbar-nav > .active > a {
  color: #fab970 !important;
}


  .song-table, tbody, th, td{
  border: 1px solid grey;
  color: grey;
  background-color: transparent;
  text-align: center;
  }

 .song-table td {
   height: 5px;
   width: 20px;
 }

#t04 th{
  width: 1px;
  background-color: red;
  color: white;
  border: 3px solid white;
}

#t04 td{
  width: 1px;
  background-color: red;
  color: white;
  border: 3px solid white;
}

.song-table th{
  height: 5px;
}

.album-row{
  margin-bottom: 50px;
}
